/* Exercise Header 전용 CSS */
.header {
    background-color: black;
    background-image: url("../static/image/exercise-header.jpg");
    height: 50vh;
    position: relative;
}

.header-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Exercise Body 전용 CSS */

.body-div2 {
    width: 50%;
    position: relative;
}

.checkbox-group {
    position: absolute;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.checkbox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* padding-left: 40%; */
}

.checkbox-input {
    transform: scale(1.5);
}

.checkbox-label {
    margin-left: 0.5vw;
    font-size: 2vw;
}



.record {
    display: flex;
    height: 40vh;
}

/*  */
.list-item {
    text-indent: -1em;
    color: white;
  }